<div class="rounded-2 p-2 grid bg-dark">
    <div class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <fa-icon class="me-3 nav-icon" icon="home"/>
                <div>Home</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <fa-icon class="me-3 nav-icon" icon="search"/>
                <div>Search</div>
            </a>
        </li>
    </div>
</div>